doctype html
html
    head
        title= 'Satsuma - A Voting App w/ Clementine.js'
        script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
        script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
        link(link href="/public/css/main.css" rel="stylesheet" type="text/css")
        script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js")
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    body
        header
            if isLoggedIn
                p Signed in as #[span#display-name]
            a.menu(href='/') Home
            p |
            a.menu(href='/profile') Profile
            p |
            if isLoggedIn
                a.menu(href='/logout') Logout
            else
                a.menu(href='/login') Login
            .container
                .content
                    block content
        script(type="text/javascript", src="../controllers/tweet.client.js")
        script(type="text/javascript" src="../common/ajax-functions.js")
        script(type="text/javascript" src="../controllers/clickController.client.js")
        script(type="text/javascript" src="../controllers/userController.client.js")